.tm_dtl{
    margin-right: 30px;
    float: left;
}
.ad_auth_sec .tm_dtl i {
    font-size: 18px;
    margin-right: 6px;
    margin-top: 2px;
}
.art_solk a.bk_mrk span:first-child {
    border: 1px solid #006699;
    width: 35px;
    height: 35px;
    float: left;
    border-radius: 50px;
    color: #006699;
}
.fa-bookmark-o:before {
    float: left;
    margin: 9px 11.5px 0;
}
.sv_ltr{
    margin-left: 12px;
}
.comment-form-area {
    background-color: #eef3f6;
    /*text-align: center;*/
    display: flex;
    border: 1px solid #eee;
    padding: 47px 30px 43px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.text_7n{
    font-weight: 700;
    color: #b2bb1e;
}

.triangle-parent {
    position: relative;
}
.box_horizontalPadded4 {
    padding-left: 6%;
    padding-right: 6%;
}

.box_verticalPadded2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.col_white {
    background: #fff;
}
.thermometer {
    background-color: #e7e5e1;
    height: 8px;
    position: relative;
    width: 100%;
}

.thermometer-percentRaised {
    background-color: #b2bb1e;
    height: 8px;
    position: absolute;
}

.triangle.triangle_bottom, .triangle.triangle_top {
    left: 50%;
    margin-left: -14px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-width: 14px;
    border-color: #fff;
    background-color: transparent!important;
    z-index: 100;
}

